body{
    margin:0;
    font-family: Arial, sans-serif;
    text-align:center;
    color:black;

    background-image:url("devotional-bg.jpg.png");
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

/* Header */
header{
    text-align:center;
    background:rgba(128,0,0,0.92);
    padding:25px;
}

header h1{
    color:white;
    margin-bottom:15px;
}

/* Navigation */
nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:20px;
    font-weight:bold;
}

nav a:hover{
    color:gold;
}

/* Main Content */
main,
section{
    width:700px;
    max-width:90%;
    margin:30px auto;
    padding:20px;
    text-align:center;

    background:rgba(255,255,255,0.05);
    border-radius:15px;

    color:black;
}

/* Text */
h1,
h2,
h3,
p{
    max-width:650px;
    margin-left:auto;
    margin-right:auto;
    color:black;
    text-shadow:none;
}

/* Images */
img{
    border-radius:10px;
    max-width:100%;
}

/* Gallery Images */
#gallery{
    text-align:center;
}

#gallery{
    position:relative;
    z-index:10;
}

.gallery-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

#gallery img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:10px;
}
/* Inputs */
input,
textarea{
    width:80%;
    padding:10px;
    margin:10px;
    border-radius:8px;
}

/* Buttons */
button{
    padding:10px 20px;
    cursor:pointer;
    border:none;
    border-radius:8px;
}

/* Date Time */
#datetime{
    font-weight:bold;
    margin:15px;
    font-size:22px;
}

/* Counter */
#counter{
    margin:30px;
    padding:20px;
}

/* Top Button */
#topBtn{
    position:fixed;
    bottom:20px;
    right:20px;
    padding:10px 15px;
    text-decoration:none;
    border-radius:10px;
    background:maroon;
    color:white;
    font-weight:bold;
}

/* Footer */
footer{
    background:#8b0000;
    color:white;
    text-align:center;
    margin-top:40px;
    padding:20px;
}

/* Smooth Scroll */
html{
    scroll-behavior:smooth;
}

/* Dark Mode */
.dark-mode{
    background:black;
    color:white;
}
.left-god,
.right-god{
    position:fixed;
    top:120px;
    width:18%;
    z-index:-1;
}

.left-god{
    left:0;
}

.right-god{
    right:0;
}

.left-god img,
.right-god img{
    width:100%;
    height:auto;
    opacity:0.8;
}

/* Mobile */
@media (max-width:768px){

    .left-god,
    .right-god{
        width:22%;
        top:150px;
    }

    main,
    section{
        width:55%;
        max-width:55%;
        margin:auto;
    }

    nav a{
        display:inline-block;
        margin:5px;
        font-size:16px;
    }
}
.left-god img,
.right-god img{
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.45;
}
@media(max-width:768px){

.left-god,
.right-god{
    width:22%;
}

main,
section{
    width:56%;
}

}
