body{
    margin:0;
    font-family: Arial, sans-serif;
    text-align:center;

    background-image:url("devotional-bg.jpg.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

/* Header */
header{
    text-align:center;
    background:rgba(128,0,0,0.92);
    padding:20px;
}

header h1{
    color:white;
    margin-bottom:15px;
}

/* Menu */
nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:20px;
    font-weight:bold;
}

nav a:hover{
    color:gold;
}

/* Main Content Center Area */
main,
section{
    width:650px;
    max-width:90%;
    margin:30px auto;
    padding:20px;
    text-align:center;
    background:transparent;
    color:black;
}

/* Footer */
footer{
    background:#8b0000;
    color:white;
    text-align:center;
    margin-top:40px;
    padding:20px;
}

/* Text Alignment */
h1,
h2,
h3,
p{
    max-width:650px;
    margin-left:auto;
    margin-right:auto;
}

/* Images */
img{
    border-radius:10px;
    max-width:100%;
}

#gallery img{
    width:250px;
    height:250px;
    object-fit:cover;
    margin:10px;
}

/* Inputs */
input,
textarea{
    width:80%;
    padding:10px;
    margin:10px;
}

/* Buttons */
button{
    padding:10px 20px;
    cursor:pointer;
    border:none;
    border-radius:8px;
}

/* Date Time */
#datetime{
    font-weight:bold;
    margin:15px;
    font-size:22px;
}

/* Sections */
section{
    padding:20px;
}

/* Counter */
#counter{
    margin:30px;
    padding:20px;
}

/* Top Button */
#topBtn{
    position:fixed;
    bottom:20px;
    right:20px;
    padding:10px 15px;
    text-decoration:none;
    border-radius:10px;
    background:maroon;
    color:white;
    font-weight:bold;
}

/* Dark Mode */
.dark-mode{
    background:black;
    color:white;
}

/* Smooth Scroll */
html{
    scroll-behavior:smooth;
}
#gallery img{
    width:250px;
    height:250px;
    object-fit:cover;
    margin:10px;
    border-radius:10px;
}
